name: dotfiles test
on: [push, pull_request]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1071
  
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set MacOS.
        run: make